* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Satoshi";
  src: url("../../public/fonts/Satoshi-Regular.ttf");
}

@font-face {
  font-family: "TAN - PEARL";
  src: url("../../public/fonts/TAN-PEARL.ttf");
}
